<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <ion-row *ngFor ="let msg of messages">
        <ion-col col-9>
          <p><strong>{{ msg.user }}:{{ msg.message }}</strong></p>
            <p>{{ msg.date | date: "dd/MM/yyyy hh:mm:ss" }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-item no-lines>
        <ion-input type="text" [(ngModel)]="message" placeholder="Digite a sua mensagem"></ion-input>

        <ion-button item-end clear icon-only [disabled]="!message || !message.length" (click)="sendMessage()">SEND
        <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
